{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": "warn",
    "linebreak-style": ["error", "unix"],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 110
      }
    ]
  }
}
